In [ ]:
#for col in df.columns():
   #df.loc[df[col] == 'n', col] = 0
  # df.loc[df[col] == 'y', col] = 1
  # df.loc[df[col] == '?', col] = 1

In [3]:
import pandas as pd
import numpy as np

s = pd.Series([7, 'Heisenberg', 3.14, -17890234, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3        -17890234
4    Happy Eating!
dtype: object

In [8]:
s = pd.Series([7, 'Heisenberg', 3.14, -17890234, 'Happy Eating!'], index=['A','Z','C','Y','W'])
s

A                7
Z       Heisenberg
C             3.14
Y        -17890234
W    Happy Eating!
dtype: object

In [16]:
d = {'Chicago':1000, 'New York': 1300, 'Portland':900, 'Sao Francisco': 1100,
     'Austin': 450, 'Boston':None}
cities = pd.Series(d)
cities

Chicago          1000.0
New York         1300.0
Portland          900.0
Sao Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64

In [17]:
cities[cities<1000]

Portland    900.0
Austin      450.0
dtype: float64

In [24]:
less_than_1000 = cities <1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])
print('oi')
new = cities[cities<1000]
print('\n')
print(new)
print(new[1])
new[1]=200
print('\n')
print(new)

Chicago          False
New York         False
Portland          True
Sao Francisco    False
Austin            True
Boston           False
dtype: bool


Portland    900.0
Austin      450.0
dtype: float64
oi


Portland    900.0
Austin      450.0
dtype: float64
450.0


Portland    900.0
Austin      200.0
dtype: float64

In [40]:
#DataFrame, estrutura tabular, pode representar planilhas, dados de db, csv etc
df = pd.read_csv('pesquisa1.csv', sep=';')
print(type(df))
print(len(df.columns.values))
#df.info()
df.describe()

df[:,[1]]

<class 'pandas.core.frame.DataFrame'>
35

        Unnamed: 0     Latitude    Longitude
count  2009.000000  2009.000000  2009.000000
mean   1063.047785   -10.683700   -11.055861
std     618.046909     5.847667    11.249040
min      30.000000   -31.000000   -33.316667
25%     532.000000   -14.350000   -17.911111
50%    1051.000000    -8.570833    -4.633333
75%    1553.000000    -7.091111    -3.499167
max    2199.000000     1.468611     6.000000

In [2]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'
df2 = pd.read_table(url)
#print(df2)
print(type(df2))
df2.describe()

df3 = df2.iloc[:,[0,3,4,5]]

NameError: name 'pd' is not defined